html {
	box-sizing: border-box;
	background: aliceblue;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
}

body {
	margin: 0;
}

*, *:before, *::after {
	box-sizing: inherit;
}

.panels {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
}

.panel {
	background: antiquewhite;
	box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
	color:aliceblue;
	text-shadow: 3px 3px black;
	text-align: center;
	align-items: center;
	transition: 
		font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
		flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
		background 0.2s;
	font-size: 1vw;
	background-size: cover;
	flex: 1;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.panel1 {
	background-image: url(./images/wolf1.jpeg);
	background-position: 32%;
}

.panel2 {
	background-image: url(./images/wolf5.jpeg);
	background-position: 73%;
}

.panel3 {
	background-image: url(./images/wolf2.jpeg);
	background-position: 64%;
}

.panel4 {
	background-image: url(./images/wolf4.jpeg);
	background-position: 31%;
}

.panel5 {
	background-image: url(./images/wolf6.jpeg);
	background-position: 56%;
}

.panel6 {
	background-image: url(./images/wolf8.jpeg);
	background-position: 52%;
}

.panel7 {
	background-image: url(https://oir.mobi/uploads/posts/2021-04/1619728642_50-oir_mobi-p-dikii-volk-zhivotnie-krasivo-foto-60.jpg);
	background-position: 23%;
}

.panel8 {
	background-image: url(./images/wolf7.jpeg);
	background-position: 51%;
}

.panel > * {
	margin: 0;
	width: 100%;
	transition: transform 0.5s;
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }

.panel > *:last-child { transform: translateY(100%); }

.panel.open-active > *:first-child {
	transform: translateY(0);
	transition-delay: 0.5s;
}

.panel.panel.open-active > *:last-child {
	transform: translateY(0);
	transition-delay: 0.5s;
}

.panel p {
	text-transform: uppercase;
	font-family: 'Neucha';
	font-weight: bold;
	text-shadow: 0 0 4px rgba(0 0 0 0.72), 0 0 14px rgba(0 0 0 0.42);
	font-size: 2em;
}

.panel.open {
	flex: 5;
	font-size: 40px;
}

p {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
