:root {
	--base: burlywood;
	--blur: 10px;
	--spacing: 10px;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
	max-width: 50vw;
	max-height: 50vh;
}

body {
	text-align: center;
}

body {
	background: cadetblue;
	color: white;
	font-family: 'helvetica neue' sans-serif;
	font-weight: 100;
	font-size: 2.5vmax;
}

.controls {
	margin-bottom: 5vmax;
}

a {
	color: var(--base);
}

input {
	width: 12vw;
}
