html {
	background: url(https://www.shoppingschool.ru/netcat_files/userfiles/Articles/2019/KAPSULY/05.jpg) top center;
	background-size: contain;
	font-family: 'El Messiri';
	font-size: 1.5vmax;
}

body {
	display: flex;
	justify-content: center;
	min-height: 85vh;
	height: auto;
	min-width: 85vw;
	width: auto;
	color: #11110f;
	padding-top: 3vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 5vh;
}

.item {
	display: flex;
	background-color: rgba(231, 232, 227, 0.35);
	border-radius: 1vh;
	border-top: 1px solid #2E3034;
	min-width: 50vw;
	width: auto;
}

.done {
	text-decoration: line-through;
}

p {
	align-items: center;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;/* Chrome/Safari/Opera */
	-khtml-user-select: none;/* Konqueror */
	-moz-user-select: none;/* Firefox */
	-ms-user-select: none;/* Internet Explorer/Edge */
	user-select: none;
}

input {
	transform: scale(1.5);
	/* opacity: 2; */
	align-self: center;
	/* width: 50px;
	height: 50px; */
	/* width: 5rem;
	/* height: 5rem; */
}

.inbox {
	background-color: rgba(46, 48, 52, 0.35);
	border: 8px double #2E3034;
	border-radius: 1vw;
}
